

/****************** Section 1 **************** */

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
h1, .h1 {
    font-size: 60px;
    line-height: 70px;
}
h2 {
    font-size: 34px;
    line-height: 40px;
}
h3 {
    font-size: 21px;
    line-height: 30px;
}
h4 {
    font-size: 17px;
    line-height: 24px;
}
section {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
section.header {
    overflow: hidden;
    padding-bottom: 0;
}

.content-wrapper {
    max-width: 940px;
    position: relative;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

div[column] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
section.header .content-wrapper {
    flex-direction: column;
    align-items: center;
}
img {
    display: block;
    backface-visibility: initial!important;
}
section.header .header-arcs {
    width: 140vw;
    position: absolute;
    top: 40vh;
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

section.header h1 {
    letter-spacing: -1.0px;
}


.fw-black {
    font-weight: 900;
}
.ta-center {
    text-align: center;
}
.fw-light {
    font-weight: 300;
}
.c-grey500 {
    color: #8A9499;
}
.h-block{
    display: block;
}

section.header .signup-wrapper {
    margin-top: 30px;
    margin-bottom: 70px;
}
form{
    display: block;
}

section.header input[type="text"] {
    height: 60px;
    max-width: 300px;
    width: 300px;
    margin-right: 15px;
    border: 1px solid #DCE2E6;
    padding: 18px 13px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 10px;
    outline: none;
    color: #8A9499;
}
section.header input[type="text"]::placeholder{
    color: #c8ced1;
}
section.header input[type="text"]:focus{
    border: 1px solid #00AAFF;
}
section.header .button.signup {
    height: 60px;
    padding: 18px 40px;
    font-size: 17px;
    line-height: 24px;
    border-radius: 10px;
    outline: none;
}
section.header .header-graphic {
    max-width: 900px;
    width: 100%;
}

/************ Section 2 ***********************/

.bg-blue {
    background-color: #00AAFF;
}
.fw-light {
    font-weight: 300;
}
.c-white {
    color: white;
}
.ta-center {
    text-align: center;
}
.mb-20 {
    margin-bottom: 20px;
}


.fw-black {
    font-weight: 900;
}
.ta-center {
    text-align: center;
}
.mb-50 {
    margin-bottom: 50px;
}

.block-listing-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-listing-item-2 {
    flex-direction: column;
    align-items: center;
}
.block-listing-wrapper .block-listing-item-2 {
    max-width: calc((100% - 50px) / 2);
    width: 100%;
    margin-bottom: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
img {
    display: block;
    backface-visibility: initial!important;
}
p{
    text-align: center;
}
p:last-child {
    margin-bottom: 0;
}
.js-lazy-image {
    border: 0;
    transition: all 1s ease-in-out;
    position: relative;
    transform: translateY(5px);
    opacity: 0;
}
.block-listing-item-2 img {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
}
.js-lazy-image.js-lazy-image-handled {
    transform: translateY(0);
    opacity: 1;
}

.justify-center, div[column].justify-center, .h-flex-column.justify-center {
    justify-content: center;
}
.h-flex {
    display: flex;
    min-width: 0;
}
.mt-10 {
    margin-top: 10px;
}

.bg-grey100 {
    background-color: #F7F9FA;
}
.split-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.split-section .small-section {
    max-width: 35%;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mb-10 {
    margin-bottom: 10px;
}
.split-section .big-section {
    max-width: 55%;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.bs-big {
    box-shadow: 0 5px 30px -10px rgba(0,0,0,0.15);
}
.mv-20 {
    margin-bottom: 20px;
    margin-top: 20px;
}
.maxh-400 {
    max-height: 400px;
}
.rad-10px {
    border-radius: 10px;
}
.resp-img-600px {
    max-width: 600px;
    width: 100%;
    height: auto;
}

/**********Div Section ************/

.equal-split {
    display: flex;
    flex-direction: column;
}
.equal-split .row {
    display: flex;
}
.equal-split .block-wrapper:first-child {
    justify-content: flex-end;
}
.equal-split .block-wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 80px 0;
}
.equal-split .content-block {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin: 0 20px;
}
.maxw-130 {
    max-width: 130px;
}
.equal-split .block-wrapper img {
    margin-bottom: 50px;
}
.equal-split .block-wrapper h2, .equal-split .block-wrapper p {
    text-align: center;
}
.equal-split .block-wrapper h2 {
    font-weight: 900;
    margin-bottom: 20px;
}
.equal-split .block-wrapper h2, .equal-split .block-wrapper p {
    text-align: center;
}

.equal-split .block-wrapper:last-child {
    justify-content: flex-start;
}
.equal-split .row:nth-child(odd) .block-wrapper:last-child {
    background-color: #F7F9FA;
}
.equal-split .row:nth-child(even) .block-wrapper:first-child {
    background-color: #F7F9FA;
}


.equal-split .content-block {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin: 0 20px;
}
.maxw-200 {
    max-width: 200px;
}
.maxw-300 {
    max-width: 300px;
}
.maxw-84 {
    max-width: 84px;
}

/* **** Section after Div section *********/

.fw-black {
    font-weight: 900;
}
.mb-50 {
    margin-bottom: 50px;
}

.s-24 {
    height: 24px;
    max-height: 24px;
    min-height: 24px;
    width: 24px;
    max-width: 24px;
    min-width: 24px;
}
.p-4 {
    padding: 4px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-60 {
    margin-bottom: 60px;
}
.fw-heavy {
    font-weight: 600;
}
.iconed-button.large {
    line-height: 40px;
    padding: 10px 60px 10px 30px;
    background-size: 24px 24px;
    background-position: center right 24px;
}

/******* Footer ********/
footer {
    background-color: #3D474D;
}
hr {
    width: 100%;
    border: 0;
    height: 1px;
    margin: 0;
}
footer hr {
    background: #293033;
}
.footer-wrapper {
    max-width: 940px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}
.subfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  
}
.subfooter a, .subfooter span {
    font-size: 13px;
    color: #8A9499;
    margin-right: 10px;
}
.subfooter a {
    font-weight: 400;
    text-decoration: underline;
}
.mr-10 {
    margin-right: 10px;
}
.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}
